@layer components {
  .list {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--border);
  }

  .list li {
    border-bottom: 1px solid var(--border);
  }

  .link {
    display: block;
    padding: 20px 12px;
    margin-inline: -12px;
    border-radius: 6px;
  }

  .link:hover {
    background: var(--muted);
  }

  .link:hover h2 {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
